* {
  box-sizing: border-box; }

/********************
BREAKPOINTS
*********************/
@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown.woff2") format("woff2"), url("../fonts/Brown.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  font-family: "Brown";
  background: linear-gradient(to right, #05398b, #6d2c6c);
  color: white;
  min-height: 98vh;
  display: flex;
  align-items: center; }

.container {
  background-color: white;
  color: #141414;
  padding: 15px;
  min-height: 60vh; }
  @media screen and (min-width: 768px) {
    .container {
      width: 75%;
      margin-right: auto;
      margin-left: auto;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      box-shadow: 15px 15px 35px 0px rgba(0, 0, 0, 0.25); } }

@media screen and (min-width: 768px) {
  header {
    padding: 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center; } }

header img {
  max-width: 100px; }

header h1,
header h2 {
  margin: 0px; }

header h1 {
  font-weight: bold;
  font-size: 2rem; }

header h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 1rem; }

h1.punchline {
  font-size: 2rem;
  background: linear-gradient(to right, #317ef8, #c46ec3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media screen and (min-width: 768px) {
    h1.punchline {
      font-size: 3.5rem; } }

@media screen and (min-width: 1024px) {
  article.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center; } }

article.content img {
  display: block;
  max-width: 606px;
  width: 100%;
  height: auto; }

article.content a {
  font-weight: bold;
  background: linear-gradient(to right, #317ef8, #c46ec3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
